<h1>Proposals</h1>

<div class="container">
    <h3></h3>
</div>
<section id="proposals" class="proposals-div">
    <ul id="proposals-list" class="proposal-list">
        <% @proposals.each do |proposal| %>
        <li class="proposals-list-item">
            <article id="proposal-<%= proposal.id %>" class="proposal">
                <div class="proposal-details">
                    <h3 class="proposal-title">
                        <a href="/proposals/<%= proposal.id %>"><%= proposal.title%></a>
                    </h1>
                    <p class="proposal-detail-line">Proposed by:
                        <%= User.find(proposal.user_id).username %></p>
                        <% if proposal.comments.count>0 %>    <img id="comment_logo" <%= image_tag("coment_logo.png") %>
                            <%= proposal.comments.count %>

                        <% end %>
                </div>
            </article>
        </li>
        <% end %>
    </ul>
</section>
