<h1>Create Proposal</h1>

<%= form_for @proposal do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :abstract %>
    <%= f.text_area :abstract %>
  </p>

  <p>
  	<%= f.submit %>
  </p>
<% end %>