<h1>Proposal Page</h1>
<div class="form-div">
    <div class="form">
        <h2 class="prop-page-h2"><%= @proposal.title %></h1>

        <p>Author:
            <%= User.find(@proposal.user_id).username %></p>

        <body><%= @proposal.abstract %></body>

        <ul>
            <% @proposal.comments.each do |comment| %>
            <li><%= comment.body %></li>
            <% end %>
        </ul>
    </div>
    <%= render "notifiers" %>
    <% if @proposal.status == "approved" %>
        <%= link_to 'Go to experiment', proposal_experiment_path(@proposal), class: "exp-submit-button" %>
    <% else %>
        <%= link_to 'Approve Experiment', new_proposal_experiment_path(@proposal, @experiment), class: "comment-submit-button"%>
    <% end %>

<%= link_to 'Comment', new_proposal_comment_path(@proposal, @comment), id:"comment-button", class: "comment-submit-button" %>
</div>
<%= link_to 'Edit', edit_proposal_path(@proposal) %>
<%= link_to 'Delete', proposal_path, method: :delete, data: { confirm: 'Are you sure?'} %>
<div id="comment-form"></div>

<% if @proposal.experiments.length > 0 %>
<%= link_to 'Go to experiment', proposal_experiment_path(@proposal, @proposal.experiments.first) %>
<% elsif @proposal.status != "approved" %>
<%= link_to 'Approve Experiment', new_proposal_approval_path(@proposal), id:"approval_button"%>
<% end %>
