<h1>Proposal Page</h1>
<div class="form-div">
    <div class="form">
        <h2 class="prop-page-h2"><%= @proposal.title %></h1>

        <p>Author:
            <%= User.find(@proposal.user_id).username %></p>

        <body><%= @proposal.abstract %></body>
        <div>

        </div><br><br>
        <ul>
            <% @proposal.comments.each do |comment| %>
            <li><%= comment.body %></li>
            <% end %>
        </ul>
    </div>
    <%= render "notifiers" %>
    <% if @proposal.status == "approved" %>
        <%= link_to 'Go to experiment', proposal_experiment_path(@proposal), class: "proposal-submit-button" %>
    <% else %>
        <%= link_to 'Approve Experiment', new_proposal_experiment_path(@proposal, @experiment), class: "proposal-submit-button"%>
<% end %>

<%= link_to 'Comment', new_proposal_comment_path(@proposal, @comment), class: "proposal-submit-button" %>
</div>
<div class="comment-form"></div>




