<div class="form-div">
  <form class="form">
    <h2><%= @proposal.title %></h1>

    <p>Author: <%= User.find(@proposal.user_id).username %></p>

    <body><%= @proposal.abstract %></body>
 </form>
 <%= render "notifiers" %>
</div>

<%= link_to 'Comment', new_proposal_comment_path %>
