<!DOCTYPE html>
<html>
  <head>
    <title>Labhub</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
    <div class="navbar-header">
      <p>labhub</p>
      <a id="logo" href="/proposals"><img id="rabbit" <%= image_tag("labhub_logo.jpg") %> </a>
      <div class="nav">
        <%= link_to 'New Proposal', new_proposal_path %>
      </div>
      <select class="form-select">
        <option >My Account &#8595</option>
        <option>My Page</option>
        <option>Log Out</option>
      </select>
    </div>
  </nav>
      <%= yield %>

      <% if session[:user_id] %>
        <p><%= link_to 'Log out', sessions_path, method: :delete, data: { confirm: 'Are you sure?'} %></p>
      <% else %>
        <p><%= link_to 'Sign up', new_user_path %></p>
        <p><%= link_to 'Log in', new_sessions_path %></p>
      <% end %>
  </body>
</html>



